
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--christmas-dark-green-transparent);
    height: 100%;
    box-shadow: 20px 20px 40px black;
    border-radius: 7px;
    backdrop-filter: blur(4px);
}
.card-title {
    background-color: var(--christmas-dark-red);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-weight: 800;
    font-size: larger;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    height: 90%;
}