.card-container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;

}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 7px;
    justify-content: space-between;
}
.card-title {
    background-color: black;
    color: white;
}
.button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.button-container button {
    width: 45%;
    margin-bottom: 10px ;
}