.bubble {
    flex: 1 1 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    min-height: 40vh;
}

.bubble-container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bubble-header {
    color: white;
    background: black;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bubble-content {
    margin: 10px;
    height: 90%;
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    flex: 1;
}